# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Petra\Google Drive\Škola\VŠ\poznamky\ING\ing1 let\ADS\01_Cvičenia\Cv05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
